fastapi
uvicorn
langgraph
langchain
langchain-community
langchain-google-genai
langchain-nvidia-ai-endpoints
langgraph-checkpoint-sqlite
langgraph-checkpoint
python-dotenv
faiss-cpu
spotipy
lyricsgenius